:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --accent-color:#120b48;
  --text-dark:#141414;
  --text-light:#fff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
a{
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--text-light);
  color: var(--text-dark);
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
}